.content_container p{
  font-family: 'IBM Plex Sans', sans-serif;
  font-size:19px;
}
.card_container{
  background-color: rgb(246, 246, 246);
}
.nav_container a{
  font-family: 'IBM Plex Sans', sans-serif; 

}